<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Catalog App | Moses Maxwell</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="row border border-primary border-top-0 border-left-0 border-right-0 mb-3">
                <div class="col">
                    <h1 class="text-uppercase">
                        <a href="/" class="brand-color-title">Catalog App</a>
                    </h1>
                </div>
                <div class="col text-right mt-2">
                    {%if 'username' not in session %}
                    <a href="{{url_for('login')}}" class="btn btn-primary">Login</a>
                    {% else %}
                    <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </main>
        <footer>
            <div class="row border border-secondary border-bottom-0 border-left-0 border-right-0 mt-5">
                <div class="col mt-3">
                    <p class="text-center">&copy; copyright</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>